#macro(annotate_with $invcf $outvcf $annotator )
#if( $annotator == "vep")
#annotate_with_vep("$invcf","$outvcf")
#elseif(  $annotator == "snpeff")
#annotate_with_snpeff("$invcf","$outvcf")
#elseif( $annotator == "gatkfilter")
#annotate_with_gatk("$invcf","$outvcf")
#else
${utils.error("unknown annotator [${annotator}]")}
#end
#end
