#macro(annote_one_bam)
	mkdir -p $(dir $@) && \
	rm -f $(addsuffix .tbi,$@ $(addsuffix .tmp1.vcf,$@) $(addsuffix .tmp2.vcf, $@ )) && \
	gunzip -c $< | \
	awk -F  '	' '/^#/ {print;next;}   {OFS="  ";if($$6!="." && $$6<0) $$6=0; print;}' |\
	#execjvarkitcmd("nozerovariationvcf") -r ${REF} |\
	#execjvarkitcmd("vcfpolyx") REF=${REF} |\
	#execjvarkitcmd("vcfannobam") \
		BED=$(capture.bed) \
		BAM=$inputBamFile \
		VALIDATION_STRINGENCY=SILENT > $(addsuffix .tmp1.vcf, $@ ) && \
   	#exec_snpeff_eff() \
   			-i vcf \
   			-o vcf \
			-sequenceOntolgy \
			-lof \
			-c ${snpeff_config} \
			-s $(addsuffix .snpeff.report,$@) \
			${$snpeff_database} $(addsuffix .tmp1.vcf, $@ )  > $(addsuffix .tmp2.vcf, $@ )  && \
	mv $(addsuffix .tmp2.vcf, $@ ) $(addsuffix .tmp1.vcf, $@ ) &&   \
	${vep_bin}  ${$vep_cache} \
		--fasta $(REF) \
		--offline \
		--hgnc \
		--format vcf \
		--force_overwrite \
		--sift=b \
		--polyphen=b \
		--refseq \
		--xref_refseq \
		-i $(addsuffix .tmp1.vcf, $@ ) \
		-o $(addsuffix .tmp2.vcf, $@ ) \
		--quiet --vcf	&& \
	mv $(addsuffix .tmp2.vcf, $@ ) $(addsuffix .tmp1.vcf, $@ ) && \
	#execjvarkitcmd("sortvcfonref") \
				I=$(addsuffix .tmp1.vcf, $@ ) \
			O=$(addsuffix .tmp2.vcf, $@  )) \
			R=${REF} \
			MAX_RECORDS_IN_RAM=${PICARD_MAX_RECORDS_IN_RAM} && \
   #exec_gatk() \
			-T VariantFiltration \
			  -et NO_ET -K /commun/data/packages/gatk.no_home.key  \
			-R $(REF) \
			-o $(addsuffix .tmp2.vcf, $@ ) \
			-U LENIENT_VCF_PROCESSING \
			--variant:vcfinput,VCF $(addsuffix .tmp2.vcf,$(addsuffix .tmp2.vcf, $@ )) \
			--filterExpression '(DP <  4 || DP > 1200 || MQ < 10)' --filterName 'StandardFilters' && \
	rm -f $(addsuffix .tmp2.vcf,$(addsuffix .tmp2.vcf, $@ )) $(addsuffix .tmp2.vcf.idx,$(addsuffix .tmp2.vcf, $@ )) $(addsuffix .idx,$(addsuffix .tmp2.vcf, $@ ))  && mv $(addsuffix .tmp2.vcf, $@ ) $(addsuffix .tmp1.vcf, $@ ) &&	\
	cat $(addsuffix .tmp1.vcf, $@ )   |\
	#execjvarkitcmd("vcfbigwig") \
		BIGWIG=/commun/data/pubdb/ucsc/hg19/bbi/All_hg19_RS_noprefix.bw \
		TAG=GERP_SCORE |\
	#execjvarkitcmd("vcftabixml") \
		XSL=/commun/data/etc/evs2vcf.xsl \
		TAGS=/commun/data/etc/evs.annot.vcf.txt \
		BED=/commun/data/pubdb/evs.gs.washington.edu/tabix/evs.data.gz  |\
 	#execjvarkitcmd("vcfvcf")  \
 		ACF=CONFLICTALT1KG \
 		$(foreach FLAG,AMR_AF ASN_AF AFR_AF EUR_AF SNPSOURCE SVTYPE SVLEN, INFO=${FLAG} ) \
 		TABIX=/commun/data/pubdb/ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20110521/ALL.wgs.phase1_release_v3.20101123.snps_indels_sv.sites.vcf.gz 2> /dev/null |\
	#execjvarkitcmd("vcfvcf") \
		ACF=CONFLICTALTDBSNP137 \
		$(foreach FLAG,PM PMC NSF NSM NSN G5A KGValidated PH3 CDA OM, INFO=${FLAG} ) \
		TABIX=/commun/data/pubdb/ncbi/snp/organisms/human_9606/VCF/00-All.vcf.gz 2> /dev/null |\
	#execjvarkitcmd("vcfbed") \
		T=SEGDUP \
		TABIX=/commun/data/pubdb/ucsc/hg19/database/genomicSuperDups_noprefix.txt.gz \
		FMT='$${2}:$${3}-$${4}'   |\
	#execjvarkitcmd("sortvcfonref") \
		R=${REF}  \
		MAX_RECORDS_IN_RAM=500000 \
		TMP_DIR=$(dir $@)  > $(basename $@) && \
	rm -f  "$(addsuffix .tmp1.vcf, $@ )" && \
	$(TABIX.bgzip) -f $(basename $@) && \
	${TABIX.tabix} -f -p vcf $@ 

#end
