#inlineJson("captures")
{
"GRCh37Design5": {
	"description":"Agilent Design 5",
	"path":"/commun/data/pubdb/agilent/designs/S04380110/S04380110_Covered_noprefix.bed"
	},
"GRCh37Design4": {
	"description":"Agilent Design 4",
	"path":"/commun/data/pubdb/agilent/designs/S03723314/S03723314_Covered_noprefix.bed"
	}
}
#end
