#macro(output_files_prefix)${project.getPropertyByName("files.prefix","").trim()}#end
#macro(VARKIT_BEDDEDPTH $target $dependencies)

#
# coverage using varkit/beddepth
#
${target} : $(capture.bed)  $(call indexed_bam, ${dependencies} )
	$(call timebegindb,$@,$@)
	mkdir -p $(dir $@)
	$(VARKIT)/beddepth  -D 0 -D 5 -D 10 -D 20 -D 30 -D 40 -D 50 \
		 -m $(MIN_MAPPING_QUALITY) $(foreach S,$(filter %.bam,$^),-f $(S) ) < $< |\
		sed 's/_recal.bam//' |\
		gzip --best > $@ 

#end

#macro(XCAPTURE_CHROM $chrom)$(OUTDIR)/BED/extended_capture.${chrom}.bed#end
#macro(MAKE_XCAPTURE_CHROM_GROUP $group)

#
# extended capture for chromosome group ${group}
#

#XCAPTURE_CHROM($group):$(extended_capture_bed)
	mkdir -p $(dir $@) && \
	awk -F '	'  'BEGIN{N=0;} {if(!($$1==" -%- " #foreach($c in ${project.getChromosomesByGroup("${group}")}) || $$1=="${c}" #end)) next; print;N++;} END{if(N==0) printf("${project.getChromosomesByGroup("${group}")[0]}\t1\t2\tIGNORE_PLEASE\n");}' $< > $@

#end

#macro(XWHOLE_CHROM $chrom)$(OUTDIR)/BED/whole.${chrom}.bed#end
#macro(MAKE_XWHOLE_GROUP $group)

#
# bed for whole chromosome group ${group}
#

#XWHOLE_CHROM($group):$(addsuffix .fai,$(REF))
	mkdir -p $(dir $@) && \
	awk -F '	'  '{if(!($$1==" -%- " #foreach($c in ${project.getChromosomesByGroup("${group}")}) || $$1=="${c}" #end)) next; printf("%s\t0\t%d\n",$$1,int($$2)-1);}' $< > $@

#end
