#macro(fastq_preprocessed $fastq)#sample_dir($sample)/${sample.name}_bamstats04.tsv #end
#macro(fastq_sai $fastq)#sample_dir($sample)/${sample.name}_bamstats04.tsv #end
#macro(fastq_raw $fastq)${fastq.path}#end



<xsl:template match="fastq" mode="preprocessed.fastq">
<xsl:choose>
 <xsl:when test="/project/properties/property[@key='is.haloplex']='yes'">
	<xsl:variable name="p"><xsl:apply-templates select=".." mode="pairname"/></xsl:variable>
	<xsl:text>$(OUTDIR)/</xsl:text><xsl:value-of select="concat(../../../@name,'/$(TMPREFIX)',\$p,'_',@index,'.preproc.fastq.gz ')"/>
 </xsl:when>
 <xsl:otherwise>
	<xsl:apply-templates select="." mode="raw.fastq"/>
 </xsl:otherwise>
</xsl:choose>
</xsl:template>




<xsl:template match="fastq" mode="dir">
	<xsl:apply-templates select="../../.." mode="dir"/>
</xsl:template>


<xsl:template match="fastq" mode="raw.fastq">
<xsl:choose>
 <xsl:when test="number(\$limit)>0 or substring(@path, string-length(@path)- 3)='.bz2'">
	<xsl:variable name="p"><xsl:apply-templates select=".." mode="pairname"/></xsl:variable>
	<xsl:text>$(OUTDIR)/</xsl:text><xsl:value-of select="concat(../../../@name,'/$(TMPREFIX)',\$p,'_',@index,'.fastq.gz ')"/>
 </xsl:when>
 <xsl:otherwise>
	<xsl:value-of select="@path"/>
 </xsl:otherwise>
</xsl:choose>
</xsl:template>


<xsl:template match="fastq" mode="sai">
<xsl:variable name="p"><xsl:apply-templates select=".." mode="pairname"/></xsl:variable>
<xsl:text>$(OUTDIR)/</xsl:text><xsl:value-of select="concat(../../../@name,'/$(TMPREFIX)',\$p,'_',@index,'.sai ')"/>
</xsl:template>






<xsl:template match="fastq" mode="gz">
<xsl:variable name="p"><xsl:apply-templates select=".." mode="pairname"/></xsl:variable>
<xsl:apply-templates select="../.." mode="dir"/>
<xsl:value-of select="concat('/$(TMPREFIX)',\$p,'_',@index,'.fastq.gz')"/>
</xsl:template>



