

fastx: $(OUTDIR)/FASTX/fastx.report.pdf
$(OUTDIR)/FASTX/fastx.report.pdf: #foreach($sample in $project.sample) #fastx_sample_qual($sample) #fastx_sample_nucl($sample) #end
	
	mkdir -p $(dir $@)
	${GHOSTVIEW} -dNOPAUSE -q -sDEVICE=pdfwrite -sOUTPUTFILE=$@ -dBATCH $^




#foreach($sample in $project.sample)


#fastx_sample_stats($sample): #foreach($pair in ${sample.sequences.pair})  #foreach($fastq in ${pair.fastq}) #fastq_preprocessed($fastq) #end #end
	
	mkdir -p $(dir $@)
	gunzip -c $^ |\
	$(FASTX.dir)/bin/fastx_quality_stats  -Q33 > $@

#fastx_sample_qual($sample) : #fastx_sample_stats($sample)
	
	mkdir -p $(dir $@)
	$(FASTX.dir)/bin/fastq_quality_boxplot_graph.sh -p  \
		-i $< \
		-t "QUAL ${sample.name}" \
		-o $@

#fastx_sample_nucl($sample) : #fastx_sample_stats($sample)
	
	mkdir -p $(dir $@)
	$(FASTX.dir)/bin/fastx_nucleotide_distribution_graph.sh -p  \
		-i $< \
		-t "NUCLEOTIDE-DIST ${sample.name}" \
		-o $@


#end


