




#foreach($sample in $project.sample)



#
# Run FASTQC for Sample '${sample.name}' after cutadapt
#	
#fastqc_report(${sample}) : #foreach($pair in ${sample.sequences.pair})  #foreach($fastq in ${pair.fastq}) #fastq_cutadapt($fastq) #end #end

	mkdir -p #fastqc_dir(${sample}) && \
	gunzip -c $^ | gzip > #fastqc_dir(${sample})/${sample.name}.fastq.gz && \
	-${fastqc_exe}  \
		-o  $(dir $@) \
		#fastqc_dir(${sample})/${sample.name}.fastq.gz && \
	rm -f	$(dir $@)_fastqc.zip \
		#fastqc_dir(${sample})/${sample.name}.fastq.gz




#end


