

## # #$(OUTDIR)/freebayes.vcf.gz : $(call indexed_bam,<xsl:apply-templates select="sample" mode="merged"/>)

#macro(call_with_freebayes)	$(call timebegindb,$@,freebayes)
	mkdir -p $(dir $@)
	$(freebayes.bin) $(foreach B,$(filter %.bam,\$^), -b ${B} ) -o $(basename $@) -f ${REF}
	${TABIX.bgzip} -f $(basename $@)
	${TABIX.tabix} -f -p vcf $@ 
	$(call timeenddb,$@,freebayes)
	$(call sizedb,$@)


#end
