#macro(gatk_no_phone_home)#if(${project.hasProperty("gatk/no.phone.key")})  -et NO_ET -K ${project.getProperty("gatk/no.phone.key")} #end#end

#macro(gatk_distribution_of_coverage $target $dependencies $type )
##
# distribution of coverage for ${dependencies}
#
${target} :  $(call indexed_bam, ${dependencies} ) $(capture.bed)
	$(call timebegindb,$@,${type})  && \
	mkdir -p $(dir $@) && \
	${VARKIT}/depthofcoverage -m $(MIN_MAPPING_QUALITY) -B $(capture.bed) $(filter %.bam,$^) |\
		grep -v bam | cut -d '	' -f 4 > $(patsubst %.pdf,%.tsv,$@)
	echo 'pdf("$@",paper="A4r");  hist(as.integer(as.matrix(read.table("$(patsubst %.pdf,%.tsv,$@)"))), main="coverage for $(filter %.bam,$^) q=$(MIN_MAPPING_QUALITY)",breaks = 100, xlim = c(1,150)); dev.off()' |\
		${R.exe} --no-save  && \
	$(call timeenddb,$@,${type}) && \
	$(call sizedb,$@)

#end



#macro(annotate_with_gatk $invcf,$outvcf)#if( ${gatkfilterparam.trim().length()} >0)$(JAVA)  -jar ${JVARKITGIT}/sortvcfonref.jar \
		I=$invcf \
		O=$(addsuffix .tmp2.vcf,$outvcf) \
		R=${REF} \
		MAX_RECORDS_IN_RAM=${PICARD_MAX_RECORDS_IN_RAM} && \
	$(JAVA) $(GATK.jvm) -jar $(GATK.jar) $(GATK.flags) \
		-T VariantFiltration \
		#gatk_no_phone_home() \
		-R $(REF) \
		-o ${outvcf} \
		-U LENIENT_VCF_PROCESSING \
		--variant:vcfinput,VCF $(addsuffix .tmp2.vcf,$outvcf) \
		${gatkfilterparam.trim()} && \
		rm -f $(addsuffix .tmp2.vcf,$outvcf) $(addsuffix .tmp2.vcf.idx,$outvcf) $(addsuffix .idx,$outvcf) #else cp $invcf $outvcf #end#end

#macro(gatk_variant_filtration $vcffile $variantfiltration)#if( ${variantfiltration.trim().length()} >0
)#set( $tmp = "$(addsuffix .tmp.vcf,"+${vcffile}+")"
	)#set( $tmpgz = "$(addsuffix .gz,"+${tmp}+")"
	)#filtering with GATK variant filtration
	mkdir -p $(dir $@) && \
	$(JAVA) $(GATK.jvm) -jar $(GATK.jar) $(GATK.flags) \
		-T VariantFiltration \
		#gatk_no_phone_home() \
		-R $(REF) \
		-o ${tmp} \
		-U LENIENT_VCF_PROCESSING \
		--variant:vcfinput,VCF ${vcffile} \
		${variantfiltration.trim()} && \
	rm -f $(addsuffix .idx,${tmp}) && \
	${TABIX.bgzip} -f  ${tmp} && \
	mv -f ${tmpgz} ${vcffile} && \
	${TABIX.tabix} -f -p vcf ${vcffile}
	#end#end


#macro(call_with_gatk)

	$(call timebegindb,$@,UnifiedGenotyper)
	mkdir -p $(dir $@) && \
	$(JAVA) $(GATK.jvm) -jar $(GATK.jar) $(GATK.flags) \
		-R $(REF) \
		-T UnifiedGenotyper \
		#gatk_no_phone_home() \
		-glm BOTH \
		-S SILENT \
		#if(${project.getPropertyByName("is.haloplex","no")}=="yes")  --downsample_to_coverage  8000  #end \
		#if($project.propertyMap.containsKey("gatk.unified.genotyper.options")
			) ${project.getPropertyByName("gatk.unified.genotyper.options","")} #end \
		$(foreach D,$(filter %.bed,$^), -L:capture,BED $(D) ) \
		$(foreach B,$(filter %.bam,$^), -I $B ) \
		--dbsnp:vcfinput,VCF $(known.sites) \
		-o $(basename $@) && \
	$(TABIX.bgzip) -f $(basename $@) && \
	$(call timeenddb,$@,UnifiedGenotyper) && \
	$(call sizedb,$@) && \
	$(call notempty,$@)

#end
