## R
#set( $Rstats_R_exe = ${config.tools.rstats["${config.tools.rstats.default}"].exe})

## tabix
#set( $tabix_exe = ${config.tools.tabix.tabix_exe} )
#set( $bgzip_exe = ${config.tools.tabix.bgzip_exe} )

## java
#set( $java_exe = ${config.tools.java.exe})

## jvarkit
#macro(jvarkitjar $command)${config.tools.jvarkit.latest.dist}/${command}.jar#end
#macro(execjvarkitcmd $command)${java_exe} -jar #jvarkitjar(${command}) #end

## vcftools
#set( $vcftools_dir = ${config.tools.vcftools["${config.tools.vcftools.default}"].dir.value} )
#macro(execute_vcftools_cmd $command) perl -I ${vcftools_dir}/perl ${vcftools_dir}/perl/${command}  #end

## samtools
#set( $samtools_exe = ${config.tools.samtools.exe} )

## bwa
#set( $bwa_exe = ${config.tools.bwa.exe})

## bcftools_exe
#set( $bcftools_exe = ${config.tools.bcftools.exe} )

## bedtools_exe
#macro(execute_bedtools $command)${config.tools.bedtools.dir}/bin/${command} #end

## cutadapt
#set( $cutadapt_exec = ${config.tools.cutadapt.exe})

## fastqc
#set( $fastqc_exe = ${config.tools.fastqc.exe})

## fastx
#set( $fastx_bindir = ${config.tools.fastx["${config.tools.fastx.default}"].bindir})

## picard
#macro(picard_jar $command) ${config.tools.picard.dir}/${command}.jar #end

##gatk
#macro(gatk_command $command) -jar ${config.tools.gatk.jar} -T ${command} #end
#macro(gatk_no_phone_home)#if(${config.tools.gatk.no_phone_key})  -et NO_ET -K ${config.tools.gatk.no_phone_key} #end#end

## freebayes
#set( $freebayes_exe = ${config.tools.freebayes.exe})


