#*
Align with bwa-mem

*#

${sample.name}_sampe_pair${pair.index}_chromosomes  : #foreach($c in ${chromosomeGroups.keySet()}) #pair_bam_sorted_chrom($pair $c ) #end #pair_bam_sorted_chrom($pair "Unmapped" )

LIST_PHONY_TARGET+= ${sample.name}_sampe_pair${pair.index}_chromosomes

#foreach($c in ${chromosomeGroups.keySet()}) #pair_bam_sorted_chrom($pair $c ) #end #pair_bam_sorted_chrom($pair "Unmapped" ) : \
	#fastq_cutadapt(${pair.forward}) \
	#fastq_cutadapt(${pair.reverse}) \
	${REF} \
	$(OUTDIR)/BED/chromgroups.txt
	mkdir -p #sample_BAM(${pair.sample}) && \
	${bwa_exe} mem  \
		-R "@RG	ID:${pair.generateId}	LB:${pair.sample.name}	SM:${pair.sample.name}	PL:ILLUMINA	PU:${pair.lane}" \
		$(REF) \
		#fastq_cutadapt(${pair.forward}) \
		#fastq_cutadapt(${pair.reverse}) |\
		#execjvarkitcmd("splitbam2") -E -m \
			-g $(OUTDIR)/BED/chromgroups.txt \
			-p #pair_bam_unsorted_chrom($pair "__CHROM__" )  \
			-u Unmapped \
		#foreach($c in ${chromosomeGroups.keySet()}) && \
		${samtools_exe} sort -l9 #pair_bam_unsorted_chrom($pair $c ) $(basename #pair_bam_sorted_chrom($pair $c ) ) #end && \
		${samtools_exe} sort -l9 #pair_bam_unsorted_chrom($pair "Unmapped") $(basename #pair_bam_sorted_chrom($pair "Unmapped") )
	

	