	mkdir -p $(dir $@) && \
	#execute_vcftools_cmd("vcf-concat") $(filter %.vcf.gz ,$^) |\
	#execjvarkitcmd("sortvcfonref2") -T $(dir $@) -R ${REF} > $(basename $@) && \
	${bgzip_exe} -f $(basename $@) && \
	${tabix_exe} -f -p vcf $@