#if(${config.project.haloplex.value}==true)

#*
Preprocess FASTQ with cutadapt
*#


#fastq_cutadapt($fastq) : #fastq_trim5($fastq)

	mkdir -p $(dir $@) && \
	${cutadapt_exec} -a #if(${fastq.index}==1)${config.tools.cutadapt.primerF}#elseif(
		${fastq.index}==2)${config.tools.cutadapt.primerR}#end  $< -o $(basename $@) > $(addsuffix .report.txt,$@) && \
	awk '{if(NR%4==2 && length($$0)==0) { printf("NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN\n");} else if(NR%4==0 && length($$0)==0) { printf("#[[##################################################]]#\n");} else {print;}}'  $(basename $@) > $(addsuffix .tmp,$(basename $@)) && \
	mv $(addsuffix .tmp,$(basename $@)) $(basename $@) && \
	gzip --best --force $(basename $@)


#end