	mkdir -p $(dir $@) && \
	${java_exe} ${config.tools.gatk.UnifiedGenotyper.jvm} -jar  #gatk_command("UnifiedGenotyper") \
		#gatk_no_phone_home() \
		-R $(REF) \
		-glm BOTH \
		-S SILENT \
		#if(${config.project.haloplex.value}==true)  --downsample_to_coverage  8000  #end \
		$(foreach D,$(filter %.bed,$^), -L:capture,BED $(D) ) \
		$(foreach B,$(filter %.bam,$^), -I $B ) \
		--dbsnp:vcfinput,VCF ${config.tools.gatk.UnifiedGenotyper.dbsnp.value} \
		-o $(basename $@).tmp.vcf && \
	#execjvarkitcmd("sortvcfonref2") -T $(dir $@) -R ${REF} $(basename $@).tmp.vcf |\
	${bgzip_exe} -c > $@ && \
	${tabix_exe} -f -p vcf $@ && \
	rm $(basename $@).tmp.vcf && \
	rm -f $(basename $@).tmp.vcf $(basename $@).tmp.vcf.idx 

