	mkdir -p $(dir $@) && \
	${samtools_exe} mpileup  \
		#if(${config.project.haloplex.value}==true) -A  -d 8000 -L 8000 #end \
		${config.tools.samtools.mpileup.options} \
		$(foreach D,$(filter %.bed,$^), -l $(D) ) \
		-f $(REF) $(filter %.bam,$^)  |\
	gzip --best > $(addsuffix .mpileup.gz,$@) \
	$(foreach algo,snp indel, && gunzip -c $(addsuffix .mpileup.gz,$@) | ${java_exe} -jar  ${config.tools.varscan.jar} mpileup2${algo} --min-coverage 10 --min-var-freq 0.08 --output-vcf --p-value 0.05 | #execjvarkitcmd("fixvarscanmissingheader") #foreach($sample2 in $genotyped_samples )  SAMPLES=${sample2} #end | ${bgzip_exe} -c  > $(addsuffix .${algo}.vcf.gz,$@)   ) && \
	rm -f $(addsuffix .mpileup.gz,$@) && \
	#execute_vcftools_cmd("vcf-concat") $(foreach algo,snp indel,$(addsuffix .${algo}.vcf.gz,$@) ) |\
	#execjvarkitcmd("sortvcfonref2") -T $(dir $@) -R ${REF} |uniq > $(basename $@) && \
	${bgzip_exe} -f $(basename $@) && \
	${tabix_exe} -f -p vcf $@  && \
	rm -f $(addsuffix .snp.vcf.gz,$@) $(addsuffix .indel.vcf.gz,$@) 
	