#macro(fastq_raw $fastq)${fastq.path}#end
#macro(fastq_trim5 $fastq)#if(${config.project.trim5} && ${config.project.trim5.value.intValue()}> 0 )#sample_dir(${fastq.pair.sample})/FASTQ/${config.project.output.prefix.value}#pair_name(${fastq.pair})_trim5_${fastq.index}.fastq.gz #else#fastq_raw($fastq)#end#end
#macro(fastq_cutadapt $fastq)#if(${config.project.haloplex.value})#sample_dir(${fastq.pair.sample})/FASTQ/${config.project.output.prefix.value}#pair_name(${fastq.pair})_preproc_${fastq.index}.fastq.gz #else#fastq_trim5($fastq)#end#end

