

#sample_bamstat01_tsv(${sample}) : $(call indexed_bam,  #sample_final_bam(${sample}) ) $(capture.bed)
	mkdir -p $(dir $@) && \
	#execjvarkitcmd("bamstats01") \
		BED=$(capture.bed) \
		IN=$(filter %.bam,$^) \
		OUT=$@ \
		VALIDATION_STRINGENCY=SILENT

#sample_bamstat04_tsv(${sample}) : $(call indexed_bam,  #sample_final_bam(${sample}) ) $(capture.bed)
	mkdir -p $(dir $@) && \
	#execjvarkitcmd("bamstats04") \
		BED=$(capture.bed) \
		IN=$(filter %.bam,$^) \
		MIN_COV=10 \
		#if(${config.project.haloplex.value}==true) NO_ORPHAN=false #end \
		VALIDATION_STRINGENCY=SILENT >  $(basename $@) && \
	gzip -f --best $(basename $@)


$(addsuffix .sample_summary, #sample_coverage($sample)) : $(call indexed_bam, #sample_final_bam( ${sample} ) ) $(OUTDIR)/BED/non_redondant_capture.bed 
	mkdir -p $(dir #sample_coverage(${sample}) ) && \
	${java_exe} ${config.tools.gatk.DepthOfCoverage.jvm} -jar  #gatk_command("DepthOfCoverage") \
		#gatk_no_phone_home() \
		-R $(REF) \
		-L:capture,BED $(filter %.bed,$^) \
		-S SILENT \
		--minMappingQuality 30 \
		--summaryCoverageThreshold 5 \
		-I $(filter %.bam,$^) \
		-o #sample_coverage(${sample}) \
		-omitBaseOutput



#sample_final_bam(${sample}) : #foreach($chromGroup in ${chromosomeGroups.keySet()}) \
	#sample_recal_chrom( ${sample} ${chromGroup})  #end \
	#sample_merged_chrom(${sample} "Unmapped")
	
	mkdir -p $(dir $@) && \
	${java_exe} ${config.tools.picard.MergeSamFiles.jvm} -jar #picard_jar("MergeSamFiles") \
		O=$@ \
		SO=coordinate \
		AS=true \
		MAX_RECORDS_IN_RAM=${config.tools.picard.MergeSamFiles.max_records_in_ram.value} \
		CREATE_INDEX=true \
		COMPRESSION_LEVEL=9 \
		VALIDATION_STRINGENCY=SILENT \
		USE_THREADING=true \
		VERBOSITY=WARNING \
		COMMENT="Merged from $^" \
		$(foreach B,$^, I=$(B) ) 


## nothing to do index already created
$(call bai_files,#sample_final_bam(${sample} ${chromGroup})  ) : #sample_final_bam(${sample} ${chromGroup})


