#macro(sample_dir $sample)$(OUTDIR)/Samples/${sample.name}#end

#macro(sample_realigned $sample)#sample_dir($sample)/${sample.name}_realigned.bam#end

#macro(sample_markdup $sample)#sample_dir($sample)/${sample.name}_markdup.bam#end



#macro(sample_recal $sample)#sample_dir($sample)/${sample.name}_recal.bam#end

#macro(sample_sorted $sample)#sample_dir($sample)/${sample.name}_sorted.bam#end

#macro(sample_merged $sample)#if($sample.sequences.pair.size() <= 1)#foreach($p in ${sample.sequences.pair})#pair_bam_sorted($p)#end#else#sample_dir($sample)/${sample.name}_merged.bam#end#end




#macro(sample_coverage $sample)#sample_dir($sample)/${sample.name}_coverage#end



#macro(sample_vcf_samtools $sample)#sample_dir($sample)/${sample.name}_variations.samtools.vcf.gz #end
#macro(sample_vcf_gatk $sample)#sample_dir($sample)/${sample.name}_variations.gatk.vcf.gz #end

#macro(sample_vcf_samtools_snpeff $sample)#sample_dir($sample)/${sample.name}_variations.samtools.snpeff.vcf.gz #end
#macro(sample_vcf_gatk_snpeff $sample)#sample_dir($sample)/${sample.name}_variations.gatk.vcf.snpeff.gz #end
#macro(sample_vcf_samtools_vep $sample)#sample_dir($sample)/${sample.name}_variations.samtools.vep.vcf.gz #end
#macro(sample_vcf_gatk_vep $sample)#sample_dir($sample)/${sample.name}_variations.gatk.vcf.vep.gz #end

#macro(sample_bamstat01_tsv $sample)#sample_dir($sample)/${sample.name}_bamstats01.tsv #end
#macro(sample_bamstat04_tsv $sample)#sample_dir($sample)/${sample.name}_bamstats04.tsv #end
#macro(sample_beddepth $sample)#sample_dir($sample)/${sample.name}_beddepth.tsv.gz #end


#macro(sample_distribution_of_coverage_merged $sample)$dir(#sample_merged($sample))/${sample.name}.merged.coverage.pdf #end
#macro(sample_distribution_of_coverage_markdup $sample)$dir(#sample_markdup($sample))/${sample.name}.markdup.coverage.pdf #end
#macro(sample_distribution_of_coverage_recal $sample)$dir(#sample_recal($sample))/${sample.name}.recal.coverage.pdf #end




