#macro(call_with_samtools_mpileup)	$(call timebegindb,$@,mpileup)
	mkdir -p $(dir $@)
	$(SAMTOOLS) mpileup #if(${project.getPropertyByName("is.haloplex","no")}=="yes") -A  -d 8000 #end -uD \
		-q $(MIN_MAPPING_QUALITY) \
		#if(${project.getPropertyByName("allele.calling.in.capture","no")}=="yes") -l $(extended_capture_bed) #end \
		-f $(REF) $(filter %.bam,$^) |\
	$(BCFTOOLS) view -vcg - |\
	$(TABIX.bgzip) -c > $@
	$(TABIX.tabix) -f -p vcf $@ 
	@$(call timeenddb,$@,mpileup)
	@$(call sizedb,$@)
	$(call notempty,$@)

#end
