#macro(call_with_samtools_mpileup)	$(call timebegindb,$@,mpileup)
	mkdir -p $(dir $@)
	$(SAMTOOLS) mpileup #if(${project.getPropertyByName("is.haloplex","no")}=="yes") -A  -d 8000 #end -uD \
		-q $(MIN_MAPPING_QUALITY) \
		#if(${project.getPropertyByName("allele.calling.in.capture","no")}=="yes") -l $(extended_capture_bed) #end \
		-f $(REF) $(filter %.bam,$^) |\
	$(BCFTOOLS) view -vcg - |\
	$(TABIX.bgzip) -c > $@
	$(TABIX.tabix) -f -p vcf $@ 
	@$(call timeenddb,$@,mpileup)
	@$(call sizedb,$@)

#end

#macro(index_bam_with_samtools $bam)

#
# index BAM "${bam}" with samtools.
#

$(patsubst %.bam,%.bai,${bam}):${bam}

	@$(call timebegindb,$@,bai)
	#some indexes are created by picard, no need to recreate it, or just check the timestamp
	if [ ! -f "$@" ] || [ "$@" -ot  "$<" ] ; then $(SAMTOOLS) index $< $@; else echo "OK. $< already indexed."; fi
	@$(call timeenddb,$@,bai)
	@$(call sizedb,$@)
	$(call notempty,$@)
#end


#macro(fake_index_bam_with_samtools $bam)

#
# index BAM "${bam}" with samtools.
#

$(patsubst %.bam,%.bai,${bam}):${bam}
	# index bam:  nothing to do. at this point, an index should have been created by the picard-API
	
#end
