#macro(annotate_with_snpeff $invcf,$outvcf)$(JAVA) -jar $(SNPEFF)/snpEff.jar eff -i vcf -o vcf \
		#if( ${project.propertyMap["discard.intergenic.variants"]}=="yes" ) -no-intergenic #end \
		-sequenceOntolgy -lof \
		-c $(SNPEFF)/snpEff.config \
		-s $(addsuffix .snpeff.report,$@) \
		#if(! $project.propertyMap.containsKey("snpEff.build") )GRCh37.70#else${project.propertyMap["snpEff.build"]}#end ${invcf}  > $outvcf #end

