



#macro(call_with_varscan)

	$(call timebegindb,$@,varscan)
	mkdir -p $(dir $@) && \
	 mpileup #param_samtool_mpileup()  | gzip --best > $(addsuffix .mpileup.gz,$@) \
	$(foreach algo,snp indel, && gunzip -c $(addsuffix .mpileup.gz,$@) | ${java_exe} -jar ${varscan_jar} mpileup2${algo} --min-coverage 10 --min-var-freq 0.08 --output-vcf --p-value 0.05 | #execjvarkitcmd("fixvarscanmissingheader") #foreach($sample2 in $genotyped_samples )  SAMPLES=${sample2} #end | ${bgzip_exe} -c  > $(addsuffix .${algo}.vcf.gz,$@)   ) && \
	rm -f $(addsuffix .mpileup.gz,$@) && \
	#execute_vcftools_cmd("vcf-concat") $(foreach algo,snp indel,$(addsuffix .${algo}.vcf.gz,$@) ) |\
	#execute_vcftools_cmd("vcf-sort") | uniq | \
	${bgzip_exe} -c >  $@ && \
	rm -f $(addsuffix .snp.vcf.gz,$@) $(addsuffix .indel.vcf.gz,$@) && \
	$(call timeenddb,$@,varscan) && \
	$(call sizedb,$@) && \
	$(call notempty,$@)

#end
